/* ==========================================
	Animations
========================================== */

.animate{
	// @include opacity(0,0);
	
	&.fadeInUp{
		animation:fadeInUp .5s ease-in .4s forwards;
		&.fast{animation-duration: .3s;}
		&.slow{animation-duration: .5s; animation-delay:.5s;}
		&.delay{animation-delay: 1.2s;}
	}
	
	&.fadeIn{
		animation:fadeIn .5s ease-in .4s forwards;
		&.fast{animation-duration: .3s;}
		&.slow{animation-duration: .5s; animation-delay:.5s;}
		&.delay{animation-delay: 1.2s;}
		&.realy-slow{animation-duration: .5s; animation-delay:1.5s;}

	}
}

@keyframes fadeInUpXXX{
	0%{
		@include opacity(0, .0);
		transform:translateY(70px);}
	100%{
		@include opacity(100, 1);
		transform:translateY(0);}
}

@keyframes fadeInXXX{
	0%{
		@include opacity(0, .0);}
	100%{
		@include opacity(100, 1);}
}