/* ==========================================
	Form Styles
========================================== */

.gform_wrapper{margin:0 !important;}

.ginput_container{
	position:relative;
	
	label.gfield_label{
		position:absolute; 
		padding:0;
		top:8px;
		left:10px;
		font-weight:400;
		@include defaultTransition;
	}
	
	input{
		padding:5px 20px !important;
		@include border-radius(5px);
		border:1px solid $black;
	}
		
	input:focus + label,
	textarea:focus + label{
		top:-5px;
		left:5px;
		font-size:75%;
		padding:0 10px;
		background:$white;
		@include defaultTransition;
	}

	input:valid + label,
	textarea:valid + label{
		// do something amazing
	}
	
	textarea{
		padding:8px 10px;
		min-height:150px; max-height:150px;
		height:150px;
		@include border-radius(5px);
	}
	
}

input.gform_button.button{
	height:auto;
	color:$white;
	font-size:80%;
	font-weight:bold;
	letter-spacing:1.5px;
	margin:20px 0;
	padding:10px 40px;
	text-decoration: none;
	text-align:center;
	text-transform:uppercase;
	background:$primary;
	border:3px solid transparent;
	outline:none;
	float:right;
	@include border-radius(50px);
	@include defaultTransition;
	
	&:hover{
		background:$secondary;
	}
}