/* ==========================================
	Form Styles
========================================== */

.gform_wrapper{margin:0 !important;}

.ginput_container{
	position:relative;
	
	label.gfield_label{
		position:absolute; 
		padding:0;
		top:8px;
		left:10px;
		font-weight:400;
		@include defaultTransition;
	}
	
	input{
		padding:5px 20px !important;
		@include border-radius(5px);
		border:1px solid $black;
	}
		
	input:focus + label,
	textarea:focus + label{
		top:-5px;
		left:5px;
		font-size:75%;
		padding:0 10px;
		background:$white;
		@include defaultTransition;
	}

	input:valid + label,
	textarea:valid + label{
		top:-5px;
		left:5px;
		font-size:75%;
		padding:0 10px;
		background:$white;
		@include defaultTransition;
	}
	
	textarea{
		padding:8px 10px;
		min-height:150px; max-height:150px;
		height:150px;
		@include border-radius(5px);
	}
	
}

input.gform_button.button{
	height:auto;
	color:$white;
	font-size:80%;
	font-weight:bold;
	letter-spacing:1.5px;
	margin:20px 0;
	padding:10px 40px;
	text-decoration: none;
	text-align:center;
	text-transform:uppercase;
	outline:none;
	float:right;
	@include border-radius(50px);
	@include defaultTransition;
	@include gradient(38deg, $primary, 30%, $secondary, 90%);
	background-size: 120% auto;

	&:hover{
		background-size:150% auto;
	}
		
}


/* Search Form */
.searchform{
	
	div{
		position:relative;
		
		label{
			position:absolute;
			z-index:2; 
			left:15px; top:8px;
			width:50%;
			display:inline-block;
		}
		input#search{
			position:relative;
			width:100%;
			border:1px solid $grey;
			padding:0 50px 0 15px;
			height:40px;
			line-height:36px;
			@include border-radius(20px);
			
			&:focus{
				outline:none;
				border:2px solid $primary;
				@include border-radius(20px);}
		}
		
		input#search:focus + label,
		input#search:valid + label{
			top:-10px;
			left:15px;
			font-size:75%;
			padding:3px 10px;
			background:$white;
			width:auto;
			@include defaultTransition;
		}

		#searchsubmit{
			height:40px; width:40px;
			line-height:36px;
			position:absolute;
			right:0; top:0;
			z-index:2;
			margin:0;
			padding:0;
			@include border-radius(50%);
			font-size:125%;
			
			@include border-radius(50px);
			@include defaultTransition;
			@include gradient(38deg, $primary, 30%, $secondary, 90%);
			background-size: 120% auto;

			&:hover{
				background-size:150% auto;
				color:$white;
			}
		}
	}
}


/* Newsletter Signup Form */
#newsletter_signup{
	
	#gform_wrapper_2{position: relative;}
	
	
	input[type=text],
		input[type=email],
		input[type=phone]{
			position:relative;
			width:100%;
			border:1px solid $grey;
			padding:0 50px 0 15px;
			height:40px;
			line-height:36px;
			@include border-radius(20px);
			
			&:focus{
				outline:none;
				border:2px solid $primary;
				@include border-radius(20px);}
		}
		
		input[type=text],
		input[type=email],
		input[type=phone]{
			&:focus + label,
			&:valid + label{
				color:$black;
				text-shadow: none;
				top:0;
				left:15px;
				font-size:65%;
				padding:3px 10px;
				width:auto;
				background:$trans;
				@include defaultTransition;
			}
		}
	
	input[type=submit]{
		height:36px; width:36px;
		line-height:36px;
		position:absolute;
		right:19px; top:2px;
		z-index:2;
		margin:0;
		padding:0;
		border:none;
		outline:none;
		@include border-radius(50%);
		font-size:90%;
		@include border-radius(50px);
		@include defaultTransition;
		background:$accent;

		&:hover{
			background:$accent-dk;
			color:$white;
		}
	}
	
}
