/* ==========================================
	Globals
========================================== */

html{margin:0; padding:0;}

body, html{}

body{
	font-size:16px;
	line-height:1.5;
	color:$black;
	font-family:$sans;
	font-weight: 400;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width:100%;
	background:#fff;
	@include defaultTransition;
} 

.container{
	margin:0 auto;
	max-width:1200px;}

.container-fluid{
	padding-left:0; 
	padding-right:0;
	
	&.bg{
		background-position:center center;
		background-color:$off-white;
		background-size:cover;
		padding:100px 0;
		
		.text-wrapper{
			color:$white;
			text-shadow:0 0 10px rgba(0,0,0,.8);
			
			.card{color:$black; text-shadow: none;}
		}
		
	}
	
	&.angle{
		background-color:$white;
		@include angle(after, false);
		@include angle(before, true);
		
		&.bg:before,
		&.bg:after{
			background:$white; 
			z-index:2;}
	}
	
	&.grey{
		background:$off-white;
	}
}

.clear{clear:both; float:none;}

section{
	padding:10px 0 50px;
	position:relative;
	
	.overlay{
		position:absolute;
		display:block;
		width:100%; height:120%;
		margin-top:-100px;
	}
}
	

#body{
	position:relative;
	z-index:0;
	margin-top:0;
	background:$white;}

::selection,
-moz::selection{}

h1, h2, h3, h4, h5, h6{
	font-weight:600;
	font-family:$poppins;
	a{
		color:inherit;
		text-transform:inherit;
	}
}

h1{font-size:260%;}

h3{font-size:130%;}

h4{
	margin:10px 0;
	font-size:100%;}

h6{
	@include uppercase; 
	font-size:90%;}

p{
	margin-bottom:20px;
	
	a{
		background-image:linear-gradient(90deg, $primary 1%, $trans 1%);
		background-size: 100% 0%;
		background-position:bottom left;
		background-repeat: repeat-x;
		@include defaultTransition;
		
		&:hover{
			background-size:10000% 10%;
		}
		
		&:active, &:focus{font-weight:bold; color:$accent; }
	}
}

strong{font-weight:600;}
.really-bold{font-weight:800;}


a{
	color:$primary;
	@include defaultTransition;
	cursor:pointer;
	
	&:hover, &:focus, &:active{
		text-decoration: none; outline:none;}
		
	&.button{
		position:relative;
		display:inline-block;
		height:auto;
		color:$white;
		font-size:90%;
		font-weight:bold;
		letter-spacing:1.5px;
		margin:20px 0;
		padding:10px 40px;
		text-decoration: none;
		text-transform:uppercase;
		text-align:center;
		outline:none;
		@include border-radius(50px);
		@include defaultTransition;
		@include gradient(38deg, $primary, 30%, $secondary, 90%);
		background-size: 120% auto;
		
		
		&:hover,
		&:active{
			color:$white;
			background-size:150% auto;
		}
		
		&.inverted{
			background:$trans; 
			color:$secondary;
			padding:0;
			text-align:left;		
			text-transform:uppercase;
			
			&:after{
				content:'';
				width:0;
				height:3px;
				background:$secondary;
				position:absolute;
				bottom:0; left:0;
				@include defaultTransition;
			}
			
			&:hover{
				&:after{width:100%;}
			}
		}
	}
}
		
hr{
	width:100%; height:0;
	margin:30px auto;
	background:transparent;
	border:none;
	border-bottom:1px solid $black;
}


