/* ==========================================
	Layout
========================================== */

/* ===== Homepage ===== */
#home {
	.hero {
		padding: 0;
		min-height: 500px;

		#slideshow {
			ol.carousel-indicators {
				position: absolute;
				bottom: 50px;
			}

			.carousel-item {
				min-height:500px;
				padding: 100px 0;
				color: $white;
				text-shadow: 0 0 8px rgba(0, 0, 0, .85);
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;

				h2 {
					margin-bottom: 0;
				}
			}
		}

	}

	.services {

		.service {
			text-align: center;

			h3 {
				font-size: 100%;
				font-weight: bold;
				margin: 0 auto;
				padding: 10px 0 40px;
			}

			.icon {
				background-color: $off-white;
				background-size: 70%;
				background-position: center center;
				
				&:hover{
					background-size:80%;
				}
			}
		}

		.card {
			padding: 20px 40px;
		}

		.pattern {
			h2 {
				margin-bottom: 0;
			}
		}

	}


	.network {
		color: $white;
		text-shadow: 0 0 5px rgba(0, 0, 0, .85);
	}

	.testimonials {
		padding:80px 0;
		
		.quote {}

		.author {
			margin-bottom: 0;
			font-weight: bold;
		}

		.company {
			@include uppercase;
			color: $grey;
		}
	}

	.news {
		padding: 150px 0 80px;

		.recent-news {
			a {
				padding-top: 0;
			}
		}
	}
}

.testimonials{
	ol.carousel-indicators {
		position: absolute;
		bottom: -50px;
		
		li{background-color:$accent;}
	}
}

#client_list{
	overflow:hidden;
}


/* ===== About Us ===== */

.values {

	h2 {
		color: $white;
		text-shadow: 0 0 8px rgba(0, 0, 0, .85);
	}

	.card {
		margin: 10px 0;

		.card-body {
			padding: 15px 30px;
		}
	}
}

.team {
	
	.image-wrapper{
		min-height:220px; 
		margin:20px 0 10px;
		background-size:contain;
		background-position:bottom left;
		background-color:$white;
	}
	
	p.name {
		font-weight: 600;
		margin-bottom: 0;
		
		a{
			color:$black;
			background:$trans;}
	}
}

.partners.bg {
	background-position: right center;
	background-size: 70%;
	background-repeat: no-repeat;
}

.careers{
	padding-bottom:100px;
}


/* ===== Team ===== */
#team{
	.nav{
		li{
			margin:0; padding:0; 
			
			a.nav-link{
				color:$black;
				padding:10px;
				
				&.active{font-weight:bold;}
			}
		}
	}
	
	.list-item{
		display:block;
		width:80%; 
		margin:20px 0;
		color:$black;
		
		.image-wrapper{height:150px;}
	}
	
}

/* ===== Team - Single Team Member ===== */
.single-team {
	margin-top:100px;
	
	
	.single-team-content {
		h3 {
			color: $grey;
			margin-bottom: 40px;
		}

		i {
			margin-right: 10px;
			font-weight: 500;
			color: $accent;
		}
	}

	.single-team-contact {
		a {
			font-size:110%;
			font-weight: bold;
			color: $black;
			text-transform: inherit;
		}
		
		.fa-envelope,
		.fa-phone{
			color:$accent;
			margin-right:5px;}
	}

	.image-wrapper {
		min-height: 390px;
		background-position: center center;
	}

	.single-team-info {
		padding: 40px 30px;
		margin-top: 70px;

		h2{
			margin: 0;
		}
		
		h5{
			font-size:80%; 
			font-weight:800;}

		ul {
			padding: 0 0 0 16px;
		}


		ul.socials {
			list-style: none;
			padding: 0;
			margin: 0;
			margin-top: 40px;

			li {
				display: inline-block;
				margin: 5px;

				a {
					font-size: 125%;
				}
			}
		}
	}
}

/* ===== Contact Us ===== */

#contact {
	
	i{
		margin-right:5px;
		color:$accent;}

	.card {
		padding: 40px;
	}

	.contact-map {
		height: 600px;
		overflow: hidden;

		.acf-map {
			height: 800px;
			margin-top: -100px;
		}
	}

}

/* ===== Partner Network ===== */

#network {

	.partner-map {
		height: 650px;
		overflow: hidden;

		.acf-map {
			height: 700px;
			margin-top: -50px;
		}
	}
	

	.approach{padding:80px 0 100px;}

	.contact{padding-bottom:80px;}
}


/* ===== Blog ===== */
#post_list {

	.post {
		margin: 20px 0;

		.date {
			color: $grey;
		}

		.image-date-wrapper {
			position: relative;

			.date {
				font-size: 80%;
				background: $black;
				color: $white !important;
				padding: 5px 10px;
				position: absolute;
				bottom: 0;
				left: 0;
			}

			.image-wrapper {
				background: $off-white;
				min-height: 150px;
				background-size: cover;
			}
		}

		a.button {
			padding: 0 0 15px;
			margin: 0;
		}
	}

}

.post-body {
	h1 {
		margin-bottom: 50px;
	}

	.date {
		color: $grey;
		margin-bottom: 30px;
	}

	#post_cta .card-body {
		padding: 15px 30px;
	}
}

/* ===== Services ===== */

#services{
	
	#service_tabs{
		.nav-tabs{
			margin: 50px 0;
			padding: 30px 30px 30px 0;
			border: none;
			border-right: 1px solid $grey;

			li {
				padding: 5px 0;
				border-bottom: 1px solid $grey;

				a {
					color: $black;
					border: none;
					position: relative;
					@include border-radius(0);

					&.active {
						background: $trans;
						font-weight: bold;

						&:after {
							border-right-color: $secondary;
						}
					}

					&:hover {
						font-weight: bold;
					}
				}

				&:last-child {
					border-bottom-color: $trans;
				}
			}
		}

		.tab-content {}
	}


	.fees {
		padding-top:150px; 
		
		.services-table {
			padding-top: 60px;

			.table {
				th {
					border: none;

					&:nth-child(n+2):nth-child(-n+4) {
						background: $charcoal;
						color: $white;
						text-align: center;
						border: 2px solid;
						padding: 5px;
						min-width: 130px;
					}
				}

				td {
					border-top: none;

					&:nth-child(n+2):nth-child(-n+4) {
						text-align: center;
						border-right: 1px solid $light-grey;
						padding: 15px 0;
						min-width: 170px;

						&:last-child {
							border-right: none;
						}
					}

					&:first-of-type {
						min-width: 250px;
					}
				}

				tr {
					border-bottom: 1px solid $light-grey;

					&:last-child {
						border-bottom: none;
					}
				}

				.fa-check-circle {
					color: $lime-green;
					font-size: 16px;
				}
			}
		}
	}
	
	
}

/* ===== Clients ===== */

.card-row {
	.card {
		margin-bottom: 0;
	}
}


/* ===== Flexible ===== */
.full_flex,
.combo_flex,
.column_flex,
.cards_flex{
	padding:50px 0;
}