/* ==========================================
	Layout
========================================== */

#home{
	.hero{
		padding:0;
		min-height:500px;
		
		#slideshow{
			ol.carousel-indicators{
				position:absolute;
				bottom:50px;
			}
			
			.carousel-item{
				min-height:500px;
				padding:100px 0;
				color:$white;
				text-shadow:0 0 8px rgba(0,0,0,.85);
				background-position:center center;
				background-size:cover;
				background-repeat:no-repeat;}
		}
	}
	
	
	.network{
		color:$white;
		text-shadow:0 0 5px rgba(0,0,0,.85);
	}
}