/* ==========================================
	Responsive Styles
========================================== */

// Mobile - Default 
@media all and (max-width:580px) {
	#header #site_id{width:250px;}
}

@media all and (max-width:768px) {
	#header {
		background: $white;

		.navbar-nav {
			ul {
				position: relative;
				padding: 0;
				margin: 0;

				li {
					width: 100%;
					
					&:hover > ul.sub-menu{display:block;}

				}
			}

			.sub-menu {
				display:none;
				position: relative;
				width: 100%;
				top: 0;
				padding: 10px 0;
				
				li{text-align:center;}
			}
		}

		#site_id {
			margin: 0 0 0 15px;
		}
	}
	#footer_logo{background-position:center center;}
	
	.image-wrapper,
	.image-wrapper.circle {
		width: 80%;
		margin: 0 auto;
	}
	
	.card .image-wrapper,
	.post .image-wrapper{width:100%;}
	
	.hero{min-height:300px;}
	
	#slideshow{
		.carousel-item{
			min-height:300px;
			padding:25px 0;
			background-attachment: scroll;
			
			.hero-text{
				padding:100px 0 50px;
				min-height:300px;}
			img.logo{
				width:80%; 
				height:auto;
				margin:0 auto;}
			
			.overlay{background:rgba(0,0,0,.4) !important;}
		}
		.carousel-indicators{display:none;}
	}
	
	.scroll-left{
		animation-duration:20s;
	}
	
	
	.bg{min-height:300px;}

	.recent-news .date {
		margin-bottom: 20px;
	}

	.pattern {
		&.right {
			.pattern-block {
				right: 0;
			}
		}

		&.bottom {
			.pattern-block {
				bottom: -5%;
			}
		}
	}
	
	#network .map_flex .partner-map{
		position:relative;
		width:100%;
		margin:0 auto;
		height:350px !important;
		min-height:350px !important;
		max-height:350px;
		
		.acf-map{
			margin:0 auto;
			height:350px !important;
			min-height:350px !important;
			max-height:350px;}
	}


	#footer {

		.text-left,
		.text-right,
		ul.socials {
			text-align: center !important;
		}
	}

}

// Mobile - Tablets
@media all and (min-width:768px) {
	.hero .carousel-item,
	.hero{
		background-attachment: fixed;
	}

	.container-fluid.bg {
		background-attachment: fixed;
	}
}


// Mobile - Desktop
@media all and (min-width:992px) {}

// Mobile - Large Screens
@media all and (max-width:1200px){
	.full_flex, .combo_flex, .column_flex, .cards_flex{padding:50px 20px;}
}

@media all and (min-width:1200px) {
	.single-team {
		.card.single-team-info {
			flex-direction: row;
		}
	}

	#service_tabs {
		.nav-tabs {
			padding-left: 30px;
		}
	}

	.card-list {
		.card {
			margin-bottom: 40px;
		}
	}
}

// Mobile -  Large Screens 
@media all and (min-width:1500px) {
	#site_id {
		width: 100%;
	}

	.container {
		max-width: 1100px;
	}
}
