/* ==========================================
	Responsive Styles
========================================== */

// Mobile - Smallest screens 
@media all and (max-width:580px) {}

// Mobile - Default 
@media all and (max-width:768px) {
	#header {
		background: $white;

		.navbar-nav {
			ul {
				position: relative;
				padding: 0;
				margin: 0;

				li {
					width: 100%;
					
					&:hover > ul.sub-menu{display:block;}

				}
				
				
			}

			.sub-menu {
				display:none;
				position: relative;
				width: 100%;
				top: 0;
				padding: 10px 0;
				
				li{text-align:center;}
			}
		}

		#site_id {
			margin: 0 0 0 15px;
		}
	}

	.image-wrapper,
	.image-wrapper.circle {
		width: 80%;
		margin: 0 auto;
	}
	
	.card .image-wrapper,
	.post .image-wrapper{width:100%;}
	
	.hero{min-height:300px;}
	#home .hero #slideshow .carousel-item{padding:25px 0;}

	.recent-news .date {
		margin-bottom: 20px;
	}

	.pattern {
		&.right {
			.pattern-block {
				right: 0;
			}
		}

		&.bottom {
			.pattern-block {
				bottom: -5%;
			}
		}
	}
	
	.team{text-align:center;}
	

	#footer {

		.text-left,
		.text-right,
		ul.socials {
			text-align: center !important;
		}
	}

}

// Mobile - Tablets
@media all and (min-width:768px) {
	.hero .carousel-item,
	.hero{
		background-attachment: fixed;
	}

	.container-fluid.bg {
		background-attachment: fixed;
	}
}


// Mobile - Desktop
@media all and (min-width:992px) {}

// Mobile - Large Screens
@media all and (min-width:1200px) {
	.single-team {
		.card.single-team-info {
			flex-direction: row;
		}
	}

	#service_tabs {
		.nav-tabs {
			padding-left: 30px;
		}
	}

	.card-list {
		.card {
			margin-bottom: 40px;
		}
	}
}

// Mobile -  Large Screens 
@media all and (min-width:1500px) {
	#site_id {
		width: 100%;
	}

	.container {
		max-width: 1100px;
	}
}
